/*CSS RESET - Rreseteo base para todos lo navegadores*/
*, *::before, *::after{ /* '*' = SELECTOR GLOBAL; ::before + ::after en caso de usar animaciones*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* padding + border haciad entro (prevención para desbordamientos)*/
}

:root{
    /* FUENTES */
    --fuente-titulos: 'Syne', sans-serif;
    --fuente-cuerpo: 'Inter', sans-serif;
    
    /* TIPOGRAFIA BASE */
    --tamano-base: 1.6rem; /*Texto = 16px*/
    --interlinea: 1.5; /*optimo para lectura fluida*/
    /* valor sin ud = multiplicar dinámico
    El navegador multiplica por el tamaño actual (font-size) del elemento
    Si fuese rem sería respectivo a la fuente, no al elemento actual*/

    /*PALETA DE COLOR*/
    --color-base: #1F4E79; /*Andalusian Blue (fondos)*/
    --color-primario: #FFF8EF; /*Warm Ivory*/
    --color-destacado-naranja: #FF6F61; /*Flamenco Coral*/
    --color-destacado-verde: #2E8B57;  /*Palm Green*/
}
/*MEDIDAS EN BASE rem (root, la raiz html)*/
html{
    font-size: 62.5%; /*1rem = 10px (ajuste de la escala para mejorar los cálculos)*/
    scroll-behavior: smooth; /*suaviza el scrolling.
    
    TIPS
    1. Ajustar Media querie especial personas con mareos (accesibilidad)
    @media (prefers-reduced-motion: reduce){html{scroll-behavior:auto;}}
    
    2. Si header fijo (position: fixed) para que no se oculte el header de section al hacer el scroll
    section{ scroll-margin-top: Xpx} --> medida del header a respetar
    */
}

/*ESTILOS PARA EL CUERPO*/
body{
    /* FUENTE CUERPO */
    font-family: var(--fuente-cuerpo);
    font-optical-sizing: auto; /*optimiza la visibilidad de la fuente según su tamaño*/
    font-size: var(--tamano-base); 
    line-height: var(--interlinea); 
    font-weight: 400; 
    font-style: normal;

    /*Estilo visual por defecto*/
    background-color: var(--color-base);
    color: var(--color-primario);    

    /*OPTIMIZACIÑON PARA DIFERENTES NAVEGADORES*/
    -webkit-font-smoothing: antialiased; /*mac: chrome, safari, edge*/
    -moz-osx-font-smoothing: grayscale; /*mac: firefox*/
    text-rendering: optimizeLegibility; /* evita efecto mordido en windows*/
    
    /*PALETA DE COLOR D*/

}
/* FUENTE ENCABEZADOS */
h1,h2,h3,h4,h5,h6{
    font-family: var(--fuente-titulos);
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    line-height: 1.2; /*títulos llevan un poco menos de interlinea, igual puede cambiarse por la variable*/
    color: var(--color-primario);
}

.bento-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*4 columnas repartidas de forma y ajuste proporcional (fr)*/
    grid-auto-rows: 200px; /*altura fija en filas (row)*/
    gap: 20px; /*espacio entre deldas*/
    padding: 20px;
/*  background-color: var(--color-destacado-verde);  /*quitar tras ajustar css*/

    
}

.foto{
    position: relative; /*para el posicionamiento sobre la caja*/
    border-radius: 20px;
    overflow: hidden; /*oculta el sobrante de la imagen evitando que sobresalga de la celda*/
/*
    border-style: solid; /*quitar tras ajustar css*/
/*  border-color: var(--color-destacado-naranja); /*quitar tras ajustar css*/

}

.grande{/*Ocupa 2 columnas (ancho) y 2 filas (alto)*/
    grid-column: span 2;
    grid-row: span 2;
}

.alto{/*Ocupa 2 filas (alto) y solo 1 columna*/
    grid-row: span 2;
}

.ancho{ /*Ocupa 2 columnas (ancho) y solo 1 fila*/
    grid-column: span 2;
}

.foto img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    /*Para que respete la proporcion de la foto.
    Sin esta propiedad la foto se deforma al obligarla que ocupe el 100% de la caja*/
    display: block;
    transition: transform 0.5s ease; /*Transicion para el efecto zoom*/
}

.bento-grid>:hover img{
        transform: scale(1.15); /*Efecto zoom*/
}
.nombre {
    position: absolute; /*Para que se ajuste el relative en .foto*/
    display: flex; /*Para poder alinear el nombre del artista*/
    justify-content: center; /*centra horizontalmente*/
    align-items: center; /*centra verticalmente*/
    text-align: center; /*centra texto multilinea*/

    /*Tamaño cvon clamp: mínimo(movil), preferido(vw tamaño viewport) y máximo*/
    font-size: clamp(2rem, 8vw, 4.5rem); 
    width: 90%;
    text-align: center;
    word-wrap: break-word; /*Por si el nombre es muy largo*/

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background: rgba(31, 78, 121, 0.4); /*con la variable no admite la transparencia*/
    backdrop-filter: blur(10px); /*efecto difuminado*/
    color: var(--color-base);
    font-family: var(--fuente-titulos);
    opacity: 0;
    transition: opacity 0.6s ease; /*animaciñon sobre la transparencia*/
}
.nombre > a{
    text-decoration: none;
}

.foto:hover .nombre {
    opacity: 1; 
    transform: translateY(0);
    align-items: center;
}

footer a img{
    width: 50px;
}
/*En @media SIEMPRE em y NUNCA rem, el navegador usa siempre la fuente por defecto
y además son consultas evaluado por el navegador antes de aplicar el CSS
Lo media queries SIEMPRE van al final del CSS para que no los pisen otras instrucciones
    
    Para un estilo bento-grid de 4 columnas:
        1. Mobil (base) = 1 columna
        2. Tablet (768px) = 2 columnas
        3. Deskpot(1024px) = 4 columnas
*/
@media (max-width: 768px){
    .bento-grid{
        grid-template-columns: 1fr; /*Aplia el estilo 1 sola columna para móvil*/
        grid-auto-rows: 250px;
    }
    .foto, .grande, .alto, .ancho{
        grid-column: span 1;
        grid-row: span 1;
    }
}