/*CSS RESET - Rreseteo base para todos lo navegadores*/
*, ::before, ::after{ /* '*' = SELECTOR GLOBAL; ::before + ::after en caso de usar animaciones*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* padding + border haciad entro (prevención para desbordamientos)*/
}

/*MEDIDAS EN BASE rem (root, la raiz html)*/
html{
    font-size: 62.5%; /*1rem = 10px (ajuste de la escala para mejorar los cálculos)*/
    scroll-behavior: smooth;
    /*suaviza el scrolling.
    
    TIPS
    1. Ajustar Media querie especial personas con mareos (accesibilidad)
    @media (prefers-reduced-motion: reduce){html{scroll-behavior:auto;}}
    
    2. Si header fijo (position: fixed) para que no se oculte el header de section al hacer el scroll
    section{ scroll-margin-top: Xpx} --> medida del header a respetar
    */
}

/*ESTILOS PARA EL CUERPO*/
body{
    /*Tamaño base de la fuente*/
    font-size: 1.6rem; /*Texto = 16px*/
    line-height: 1.5; /*optimo para lectura fluida*/
    /* valor sin ud = multiplicar dinámico
    El navegador multiplica por el tamaño actual (font-size) del elemento
    Si fuese rem sería respectivo a la fuente, no al elemento actual*/
    
    /*Fuente importada de Google fonts*/
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto; /*optimiza la visibilidad de la fuente según su tamaño*/
    
    /*Estilo por defecto*/
    font-weight: 400; 
    font-style: normal;
    
    .syne-<uniquifier> {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    }
    /*OPTIMIZACIÑON PARA DIFERENTES NAVEGADORES*/
    -webkit-font-smoothing: antialiased; /*mac: chrome, safari, edge*/
    -moz-osx-font-smoothing: grayscale; /*mac: firefox*/
    text-rendering: optimizeLegibility; /* evita efecto mordido en windows*/
    
    /*PALETA DE COLOR D*/
    background-color: #1F4E79; /*Andalusian Blue*/
    color: #FFF8EF; /*Warm Ivory*/
    /* #FF6F61 Acento1: Flamenco Coral*/
    /* #2E8B57  Acento2: Palm Green*/
}